@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,300,100);

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {

	background-color: #e7e7e7;
	text-align: center;
}


p {

	font-family: 'Josefin+Slab', sans-serif;
	font-weight: 100;
	font-size: 16px;
}

ul {
	
	list-style: none;
	font-size: 2em;

}

figure {
	position: relative;
}

figure img {
	display: block;
}


figcaption {
	background: rgba(10, 165, 178, 0.9);
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

figure:hover figcaption {
	opacity: 1;

}


li {

	font-family: 'Raleway', sans-serif;
	font-weight: 400;

}

img {

	width: 100%;
	display: block;

}

footer{

	height: 275px;
	width: 100%;
	background-color: #333333;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 	1em;
	padding: 40px;
	text-align: center;

}

#footer-text {
	width: 100%
	max-width: 640px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

a:link {
	color: #fff;

}

a:visited {
	color: #fff;

}

a:hover {
	color: #0AA5B2;
}

#hero-image {

}

#site-header {

	height: 100%;
	width: 100%;
	position: relative;
	color: #fff;
	text-decoration: none;

}

#details-header {

	height: 550px;
	width: 100%;
	position: relative;
	color: #fff;
	background-color: #0AA5B2;
	text-decoration: none;

}

#header-nav {

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	
}


#logo-title {

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 4em;
	padding: 20px 5%;
	border: 5px solid #fff;
	display: inline-block;

}

#details-title {

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 4em;
	padding: 20px 5%;
	border: 5px solid #fff;
	display: inline-block;

}

#slogan {

	font-family: 'Josefin+Slab', serif;
	font-weight: 100;
	font-size: 1.5em;
	padding: 20px 15%;

}

#contact {

	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 2.5em;
	text-align: center;
	text-decoration: none;

}

#footer-quote {

	font-family: 'Josefin+Slab', serif;
	font-weight: 100;
	font-size: 1em;
	color: #c2c2c2;
	text-align: center;
	padding-top: 20px;
	padding-left: 5px;
}

#location-phone {

	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 1em;
	color: #c2c2c2;
	text-align: center;
	padding-top: 30px;

}

/*#title {

	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 3em;
	color: #333333;
	text-align: left;
	padding-top: 60px;
	padding-left: 5px;
}

#date {

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 2em;
	color: #333333;
	text-align: left;
	padding-top: 30px;
	padding-left: 5px;
}

#message {

	font-family: 'Josefin+Slab', serif;
	font-weight: 100;
	font-size: 1em;
	color: #333333;
	text-align: left;
	padding-top: 30px;
	padding-left: 5px;
}*/

#hero-text {

	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);

}

#hero-center {

	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);

}

#details-center {

	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);

}

#details-text {

	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	left: 0;

}

#first-caption{

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 2em;
	color: #333333;
}

#second-caption{

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

.overlay-text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.quote {
	padding: 60px;
}

.quote-text {
	font-family: 'Josefin+Slab', serif;
	font-weight: 100;
	font-size: 1.5em;
	color: #333333;
}

.figures {
	position: relative;
	width: 100%;

}

.figures:after {
	content: "";
	display: block;
	clear: both;

}

.figure-column {
	width: 50%;
	float: left;

}

.figure-column-detail {
	max-width: 750px;
	margin: auto;
	padding-top: 50px;

}

.figure-column:after {
	content: "";
	display: block;
	clear: both;

}

.figure-100 {
	position: relative;
	display: block;
	width: 100%;
	float: left;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;

}


.figure-50 {
	position: relative;
	display: block;
	width: 50%;
	float: left;
	height: 0;
	padding-bottom: 50%;
	overflow: hidden;

}

.figure-thumb img{
	width: 200px;
	height: 100%;
	display: inline-block;
	padding: 0 10px 50px 0;
}

.figure-100 img, 
.figure-50 img {
	display: block;
	width: 100%;
	height: auto;
}

.figure-100 figcaption,
.figure-50 figcaption{

	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
}

.figure-short {
	height: 0;
	padding-bottom: 50%;
}

.figure-description {

 	position: absolute;
 	top: 50%;
 	left: 50%;	
 	transform: translate(-50%, -50%);
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 3em;
	color: #333333;
	text-align: right;
}

@media screen and (max-width: 930px){
	#footer-quote, #location-phone{
		text-align: center;
		font-size: 100%;

	}

	#contact {
		text-align: center;
		font-size: 150%
	}

}

@media screen and (max-width: 768px){
.figure-100,.figure-50,.figure-short{
	width: 100%;
	padding-bottom: 0;
	height: auto;
	float: none;
	clear: both;
}

.figure-column {
	width: 100%;
	float: none;
}

#logo-title {

	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
}

.slogan-hide {

	text-indent: 100%;
  	white-space: nowrap;
  	overflow: hidden;

}
}