@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {

	text-align: center;
}


p {

	font-family: 'Lora', sans-serif;
	font-size: 16px;
}

ul {
	
	list-style: none;
	font-size: 2em;

}

figure {
	position: relative;
}

figure img {
	display: block;
}


figcaption {
	background: rgba(10, 165, 178, 0.9);
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

figure:hover figcaption {
	opacity: 1;

}


li {

	font-family: 'Questrial', sans-serif;

}

img {

	width: 100%;
	display: block;

}

footer{

	color: #0AA5B2;
	font-family: 'Questrial', sans-serif;
	font-size: 	1.5em;
	padding: 20px;

}

a {
	text-decoration: none;
}

a:link {
	color: #0AA5B2;

}

a:visited {
	color: #0AA5B2;

}

a:hover {
	color: #0AA5B2;
}

#site-header {

	position: relative;
	color: #fff;
	text-decoration: none;

}

#header-nav {

	font-family: 'Questrial', sans-serif;
	font-size: 1.5em;
	
}


#logo-title {

	font-family: 'Questrial', sans-serif;
	font-size: 4em;
	padding: 20px 15%;
	border: 5px solid #fff;
	display: inline-block;

}

#slogan {

	font-family: 'Lora', serif;
	font-size: 1.5em;
	padding: 20px 15%;

}

#contact {

	text-decoration: none;
}

#hero-text {

	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	background-color: rgba(0, 0, 0, 0.0);

}

#first-caption{

	font-family: 'Questrial', sans-serif;
	line-height: 1.5em;
	font-size: 1em;
}

#second-caption{

	font-family: 'Lora', serif;
	font-size: 1em;
}

.overlay-text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.quote {
	padding: 60px;
}

.quote-text {
	font-family: 'Lora', sans-serif;
	font-size: 1.5em;
}

.figures {
	position: relative;
	width: 100%;
	/*max-width: 900px;
	margin: 0 auto;*/

}

.figures:after {
	content: "";
	display: block;
	clear: both;

}

.figure-column {
	width: 50%;
	float: left;

}

.figure-column:after {
	content: "";
	display: block;
	clear: both;

}

.figure-100 {
	position: relative;
	display: block;
	width: 100%;
	float: left;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	background-color: red;

}

.figure-50 {
	position: relative;
	display: block;
	width: 50%;
	float: left;
	height: 0;
	padding-bottom: 50%;
	overflow: hidden;
	background-color: orange;

}

.figure-100 img, 
.figure-50 img {
	display: block;
	width: 100%;
	height: auto;
}

.figure-100 figcaption,
.figure-50 figcaption{

	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
}

.figure-short {
	height: 0;
	padding-bottom: 50%;
}

@media screen and (max-width: 768px){
.figure-100,.figure-50,.figure-short{
	width: 100%;
	padding-bottom: 0;
	height: auto;
	float: none;
	clear: both;
}

.figure-column {
	width: 100%;
	float: none;
}

#logo-title {

	font-family: 'Questrial', sans-serif;
	font-size: 2.5em;
}

.slogan-hide {

	text-indent: 100%;
  	white-space: nowrap;
  	overflow: hidden;

}
}